#menu a
{
 color: white;
}
.social-icons a
{
	 padding: 10px;
    font-size: 30px;
    text-decoration: none;
    background: blue;
    border-radius: 50px;
    color: white;
    margin: 10px;
    width: 50px;
    height: 50px;}
.social-icons a:hover
{
	 background: darkred;
}
body{
font-family: 'Neucha', cursive;
font-size: 30px;
}
